
.ThemeSet-botton {
    width: fit-content;
    margin-right: 20px;
    padding:0px 14px 0px 14px;
    height: fit-content;
    background-color: #F3F5F7;
    border-radius: 50px;
    display: flex;
    align-items: center;
    height: 36px;
    cursor: pointer;
}

.ThemeIcon-botton > svg {
    width: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ThemeSet-botton > svg {
    height: fit-content;
    transform: translateY(0);
    transition: transform 0.6s ease ;
}

.ThemeSet-botton:hover > svg{
    transform: translateY(3px);
}

.ThemeIcon-Dark > svg > path {
    fill: #FFF;
}
.ThemeIcon-Light > svg > path {
    fill: #000;
}

.ThemeSet-botton > p {
    font-family: 'Mochiy Pop One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin: 0 8px 0 8px;
    width: 45px;
}

.ThemeSet-dropMenu {
    position: absolute;
    margin-top: 8px;
    border-radius: 17.5px;
    padding: 10px;
    z-index: 2;
    opacity: 0;
    transform: translateY(-8px);
}

.dropDownAnimate {
    animation: dropDownAnimate 0.4s ease forwards;
}

@keyframes dropDownAnimate {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropDownReverseAnimate {
    opacity: 1;
    transform: translateY(0);
    animation: dropDownReverseAnimate 0.4s ease forwards
    
}

@keyframes dropDownReverseAnimate {
    to {
        opacity: 0;
        transform: translateY(-8px);
    }
}

.ThemeSet-dropMenu svg {
    width: 14px;
    margin-right: 24px;
}

.ThemeSet-dropMenu  div {
    display: flex;
    align-items: center;
    margin: 5px;
    height: 26px;
    padding: 0 10px 0 10px;
    border-radius: 50px;
    cursor: pointer;
}
.Theme-active-Light{
    background-color: #FFF;
}
.Theme-active-Dark {
    background-color: #201D26;
}

.Theme-inActive-Light, .Theme-inActive-Dark {
    background-color: rgba(225, 225, 225, 0);
    transition: background-color 0.5s ease;
}

.Theme-inActive-Light:hover{
    background-color:rgba(225, 225, 225, 0.5);
}

.Theme-inActive-Dark:hover {
    background-color:rgba(225, 225, 225, 0.1);
}

.ThemeSet-dropMenu p {
    font-family: 'Mochiy Pop One';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    display: flex;
    align-items: center;
    text-align: center;
}

@media  screen and (max-width: 900px) {

    .ThemeSet-botton {
        padding: 0 10px 0 10px;
        height: 30px
    }
    .ThemeSet-botton > p {
       font-size: 11px;
       margin: 0 2px 0 6px;
       width: 40px;
    }

    .ThemeIcon-botton > svg{
        width: 14px;
    }
    .ThemeSet-dropMenu svg {
        width: 12px;
        margin-right: 20px;
    }

    .ThemeSet-dropMenu {
        margin-top: 8px;
        border-radius: 15px;
        padding: 8px;
    }
    .ThemeSet-dropMenu p {
        font-size: 10px;
    }
}

@media  screen and (max-width: 550px) {
    .ThemeSet {
        display: none
    }
     .ThemeSet-botton {
        padding: 0 10px 0 10px;
        height: 30px;
    }

}
