.AudioBtn {
    height: 35px;
    width: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 50px;
    margin-left: 20px;
    background-color: #F3F5F7;
    box-sizing: border-box;
    padding: 0px 10px 0px 5px;
    animation: bounce 0.7s ease-in forwards;
}

@keyframes bounce {
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1);
    }
    75% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.PlayPauseSVG-Light > svg > path {
    fill: #000
}

.PlayPauseSVG-Dark > svg > path {
    fill: #FFF
}

.SoundWaveSVG-Light > svg  line {
    stroke: #000
}

.SoundWaveSVG-Dark > svg  line {
    stroke: #FFF
}

.AudioBtn > svg {
    position: absolute;
    right: 10px;
    margin-right: 6px;
}
.AudioBtn > img {
    position: absolute;
    right: 10px;
    height: 17px;
    width: 32px;
    margin-right: 4px;
}

.Effects {
    overflow: hidden;
    border-radius: 50%;
    width: 26px;
    height: 26px;
}
.PlayPausePadding {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .AudioBtn {
        height: 28px;
        width: 78px;
        margin-left: 14px;
    }
    .Effects, .PlayPausePadding {
        width: 20px;
        height: 20px;
    }
    .PlayPausePadding svg {
        width: 14px;
    }
    .AudioBtn > svg {
        width: 24px;
    }
    .AudioBtn > img {
        height: 17px;
        width: 24px;
        margin-right: 4px;
    }
}

@media screen and (max-width: 550px) {
    .AudioBtn {
        height: 23px;
        width: 60px;
        margin-left: 10px;
        padding-right: 8px;
    }
    .PlayPausePadding, .Effects {
        width: 18px;
        height: 18px;
    }
    .PlayPausePadding > svg {
        width: 10px;
    }
    .AudioBtn > svg {
        width: 20px;
        margin-right: 2px;
    }
    .AudioBtn > img {
        height: 14px;
        width: 20px;
        margin-right: 2px;
    }
}