.Content::-webkit-scrollbar {
    width: 8px;
}
.Content::-webkit-scrollbar-track {
    background-color: white;
}
.Content::-webkit-scrollbar-thumb {
    background-color: #8B3DFF;
    border-radius: 10px;
}    

.Content {
    position: relative;
    width: 100%;
    margin: 40px 20px 40px 0;
    /* padding: 0 10px 0 10px; */
    overflow-y: scroll;
    overflow-x: none;
    flex-grow: 1;
    box-sizing: border-box;
}
.Content-renders {
    margin: 0 0 20px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 55%;
    height: fit-content;
    border: 2.5px solid #E5E5E5;
    border-radius: 30px;
}
.ContentHeader {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 40px 40px 0 40px;
}
.HeaderLeft {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.HeaderLeft > span {
    font-family: 'Mochiy Pop One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #8B3DFF;
}
.HeaderRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
}
.ThumbsPadding{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#F3F5F7;
    border-radius: 50px;
    height: 30px;
    margin-left: 20px;
    padding: 0 10px 0 10px;
}
.ThumbsPadding > span {
    font-family: 'Mochiy Pop One';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #FFAB00;
    margin-left: 10px;
}
.WordDefinition {
    margin-top: 20px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    padding-left: 80px;
}
.WordDefinitionContent {
    height: fit-content;
    width: fit-content;
    padding-left: 60px;
    box-sizing: border-box;
}
.WordDefinitionContent p{
    font-family: 'Mochiy Pop One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: 80%;
    line-height: 24px;
    white-space: pre-line;
    white-space: pre-wrap;
    color: rgba(0, 0, 0, 0.8);
}
.WordDefinitionContent span {
    font-size: 16px;
}
.ref {
    color: #8B3DFF;
    padding: 0 5px 4px 5px;
    font-size: 16px;
}
.ref:hover {
    border-radius: 50px;
    background-color: #E5E5E5;
}
.WordExample {
    margin-top: 6px;
    width: 100%;
    box-sizing: border-box;
    height: fit-content;
    padding-left: 79.1px ;
}
.Example {
    width: fit-content;
    height: fit-content;
    display: flex;
}
.Example > span {
    margin-left: 10px;
    padding-top: 10px;
    font-family: 'Mochiy Pop One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #FFAB00;
}
.Examples{
    box-sizing: border-box;
    width: 100%;
    padding-left: 100px;
}
.Examples > p {
    font-family: 'Mochiy Pop One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: 75%;
    line-height: 24px;
    white-space: pre-line;
    white-space: pre-wrap;
    color: rgba(0, 0, 0, 0.8);
}

.Footer {
    display: flex;
    margin: 70px 0px 30px 50px;
    justify-content: space-between;
    width: fit-content;
}
.FooterContent {
    height: 30px;
    border: 2.5px  solid #E5E5E5;
    border-radius: 50px;
    padding: 0px 9px 0px 9px;
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.FooterContent > span {
    padding-bottom: 2px;
    margin-left: 8px;
    font-family: 'Mochiy Pop One';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;;
    color: #000000;
}