.Content::-webkit-scrollbar {
    width: 8px;
}
.Content::-webkit-scrollbar-track {
    background-color: white;
}
.Content::-webkit-scrollbar-thumb {
    background-color: #8B3DFF;
    border-radius: 10px;
}    

.Content {
    position: relative;
    width: 99%;
    margin: 40px 0px 40px 0px;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-grow: 1;
    box-sizing: border-box;
}
.Content-renders {
    margin-bottom: 20px;
    position: relative;
    left: 50%; 
    transform: translateX(-50%);
    width: 800px;
    height: fit-content;
    border: 2.5px solid #E5E5E5;
    border-radius: 30px;
}
.ContentHeader {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 40px 40px 0 40px;
}
.HeaderLeft {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.HeaderLeft > span {
    font-family: 'Mochiy Pop One';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #8B3DFF;
}
.HeaderRight {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: fit-content;
}
.ThumbsPadding{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#F3F5F7;
    border-radius: 50px;
    height: 30px;
    margin-left: 20px;
    padding: 0 10px 0 10px;
}
.ThumbsPadding > span {
    font-family: 'Mochiy Pop One';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #FFAB00;
    margin-left: 10px;
}
.WordDefinition {
    margin-top: 20px;
    display: flex;
    padding-left: 80px;
}
.VerticalLine {
    width: 2px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 6px;
    height: auto;
}
.WordDefinitionContent {
    height: fit-content;
    width: fit-content;
    padding-left: 60px;
    box-sizing: border-box;
    /* border-left: 2.5px solid rgba(0, 0, 0, 0.55); */
}
.WordDefinitionContent p{
    font-family: 'Mochiy Pop One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    width: 80%;
    line-height: 24px;
    white-space: pre-line;
    white-space: pre-wrap;
    color: rgba(0, 0, 0, 0.8);
}
.WordDefinitionContent span {
    font-size: 16px;
}
.ref {
    color: #8B3DFF;
    padding: 0 5px 4px 5px;
    font-size: 16px;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}
.ref:hover {
    border-radius: 50px;
    background-color: #E5E5E5;
}
.WordExample {
    margin-top: 6px;
    width: 100%;
    box-sizing: border-box;
    height: fit-content;
    padding-left: 78px ;
}
.Example {
    width: fit-content;
    height: fit-content;
    display: flex;
}
.Example > svg:nth-child(1) {
    display: none;
} 
.Example > span {
    margin-left: 10px;
    padding-top: 10px;
    font-family: 'Mochiy Pop One';
    font-style: normal;
    line-height: 20px;
    font-weight: 400;
    font-size: 18px;
    color: #FFAB00;
}
.Examples{
    box-sizing: border-box;
    width: 100%;
    padding-left: 100px;
}
.Examples > p {
    font-family: 'Mochiy Pop One';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    width: 75%;
    line-height: 24px;
    white-space: pre-line;
    white-space: pre-wrap;
    color: rgba(0, 0, 0, 0.8);
}

.Footer {
    display: flex;
    margin: 70px 0px 30px 50px;
    justify-content: space-between;
    width: fit-content;
}
.FooterContent {
    height: 30px;
    border: 2.5px  solid #E5E5E5;
    border-radius: 50px;
    padding: 0px 9px 0px 9px;
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.FooterContent > span {
    padding-bottom: 2px;
    margin-left: 8px;
    font-family: 'Mochiy Pop One';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;;
    color: #000000;
} 

@media screen and (max-width: 900px) {
    .Content::-webkit-scrollbar{
        width: 6px;
    }
    .Content-renders {
        width: 600px;
        border-radius: 20px;
        border-width: 2px;
    }
    .ContentHeader {
        padding: 30px 30px 0 30px;
    }
    .HeaderLeft > span {
        font-size: 20px;
    }
    .ThumbsPadding {
        height: 28px;
        margin-left: 14px;
        padding: 0 6px 0 6px;
    }
    .ThumbsPadding svg {
        width: 16px;
    }
    .ThumbsPadding > span {
        font-size: 10px;
        margin-left: 6px;
    }
    .WordDefinition {
        margin-top: 16px;
        padding-left: 50px;
    }
    .VerticalLine {
        width: 2.48px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 6px;
        height: auto;
    }
    .WordDefinitionContent {
        padding-left: 40px;
    }
    .WordDefinitionContent p {
        width: 85%;
        line-height: 23px;
    }
    .ref {
        background-color: #F3F5F7;
        border-radius: 50px;
        padding: 0 5px 1px 5px;
    }
    .WordDefinitionContent p, .WordDefinitionContent span, .ref {
        font-size: 14px;
    }
    .WordExample {
        padding-left: 49px;
        margin-top: 2px;
    }
    .Example svg {
        width: 55px;
    }
    .Example > svg:nth-child(1) {
        display: none;
    }
    .Example > span {
        font-size: 16px;
    }
    .Examples {
        padding-left: 80px;
    }
    .Examples p {
        font-size: 13px;
        line-height: 23px;
    }
    .Footer {
        margin: 50px 0 20px 30px;
    }
    .FooterContent {
        height: 24px;
        border-width: 2px;
        margin-right: 24px;
    }
    .FooterContent svg {
        width: 16px;
    }
    .FooterContent > span {
        font-size: 11px;
    }
}

@media screen and (max-width: 650px) {
    .Content-renders {
        width: 90%;
    }
    
}

@media screen and (max-width: 550px) {
    .Content::-webkit-scrollbar{
        width: 5px;
    }
    .Content {
        margin-top: 20px;
    }
    .Content-renders {
        border-width: 1px;
        border-radius: 15px;
        width: 93%;
    }
    .ContentHeader {
        padding: 15px 15px 0px 15px;
        align-items: flex-start;
    }
    
    .HeaderLeft {
        width: 210px;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .HeaderLeft > span {
        font-size: 16px;
        /* width: 110px; */
    }

    .ThumbsPadding {
        height: 22px;
        margin-left: 12px;
        margin-top: 3.5px;
    }
    .ThumbsPadding svg {
        width: 13px;
    }
    .ThumbsPadding > span {
        font-size: 8px;
        margin-left: 4px;
    }
    .WordDefinition {
        margin-top: 10px;
        padding-left: 28px;
    }
    .VerticalLine {
        width: 2px;
    }
    .WordDefinitionContent {
        padding-left: 20px;
    }
    .WordDefinitionContent p {
        width: 90%;
        line-height: 22px;
    }
    .WordDefinitionContent p, .WordDefinitionContent span, .ref {
        font-size: 12px;
    }
    .WordExample {
        padding-left: 28px;
        margin-top: 3px;
    }
    .Example > span {
        font-size: 12px;
        padding-top: 4px;
        margin-left: 8px;
    }
    .Example > svg:nth-child(1){
        display: block;
    }
    .Example > svg:nth-child(2){
        display: none;
    }
    .Example > svg {
        width: 28px;
    }
    .Examples {
        padding-left: 45px;
    }
    .Examples p {
        font-size: 11px;
        width: 80%;
        line-height: 22px;
    }
    .Footer {
        margin: 30px 0 10px 10px;
        flex-wrap: wrap;
    }
    .FooterContent {
        height: 20px;
        border-width: 1px;
        margin-right: 10px;
        margin-top: 6px;
    }
    .FooterContent svg {
        width: 14px;
    }
    .FooterContent > span {
        font-size: 9px;
    }

}
@media screen and (max-width: 350px) {
    .Footer {
        flex-direction: column;
    }
    .FooterContent {
        margin-top: 6px;
        width: fit-content;
    }
}