.Header {
    width: 100%;
    padding: 10px 90px 10px 90px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}
.LogoContent {
    position: relative;
    display: flex;
    height: 100%;
    align-items: center;
}

.LogoContent > img {
    width: 40px;
    height: fit-content;
}
.LogoContent > h1 {
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-left: 10px;
}

.HeaderRight {
    display: flex;
    align-items: center;
}

.SettingsIcon {
    display: none;
}

.TimeDisplay {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    position: relative;
    width: fit-content;
    /* margin-right: 10px; */
    padding:0px 15px 0px 15px;
    height: fit-content;
    background-color: #F3F5F7;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
}
.TimeDisplay > span {  
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

@media  screen and (max-width: 900px) {
    .Header {
        padding: 10px 40px 10px 40px;
    }
    .LogoContent > img {
        width: 32px;
    }
    .LogoContent  h1 {
        font-size: 16px;
    }
    .TimeDisplay {
        padding: 0px 14px 0px 14px;
        height: 30px;
    }
    .TimeDisplay  span {
        font-size: 11px;
    }
}
@media  screen and (max-width: 550px) {
    .LogoContent > img {
        width: 26px;
    }
    .LogoContent > h1 {
       font-size: 14px;
    }
    .Header {
        padding: 10px 10px 10px 10px;
    }

    .SettingsRipple {
        border-radius: 50%;
        height: 26px;
        width: 26px;
        overflow: hidden;
        margin-right: 10px;
    }

    .SettingsIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 26px;
        width: 26px;
        border-radius: 50%;
    }

    .SettingsSVG-Light > svg > path{
        fill: #000
    }

    .SettingsSVG-Dark > svg > path{
        fill: #FFF
    }

    .TimeDisplay {
        padding: 0px 12px 0px 12px;
        height: 26px;
    }
    .TimeDisplay span {
       font-size: 10px; 
    }
}
