.SearchBarContainer {
    display: flex;
    margin-top: 10px;
    align-items: center;
}
.ArrowLeftPadding, .ArrowRightPadding {
    background-color: #F3F5F7;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.SearchBar {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;                              
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 4px 4px 4px 4px;;
    background-color: #F3F5F7;
    border-radius: 60px;
    margin: 0 40px 0 40px;
}


.BackgroundPadding {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: white;
    border-radius: 50%;
}

.ArrowRipple {
    overflow: hidden;
    border-radius: 50%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}
.false {
    opacity: 0.5;
}
.SearchRipple {
    border-radius: 50px;
    height: 36px;
    overflow: hidden;
}

.ArrowIcons-Light > svg > path {
    stroke: #000 ;
}

.ArrowIcons-Dark > svg > path {
    stroke: #FFF;
}

.SearchBarIcons-Light > svg > path{
    fill: #000;
}

.SearchBarIcons-Dark > svg > path {
    fill: #FFF
}
.SearchButton {
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50px;
    width: fit-content;
    height: 36px;
    padding-left: 8px;
    padding-right: 12px;
}

.SearchButton > span {
    margin-left: 6px;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 2px;
}
.SearchInput {
    user-select: none; 
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 14px;
    height: 80%;
    font-weight: 400;
    width: 25vw;
    margin: 0 12px 0 12px;
    max-width: 300px;
    color: rgba(0,0,0, 0.8);
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #F3F5F7;
    border: none;
}

.PlaceHolder-Light::placeholder{
    color: #000;
    opacity: 0.8;
}

.PlaceHolder-Dark::placeholder{
    color: #FFF;
    opacity: 0.8;
}

.PlaceHolder-Dark{
    color: #FFF;
}
.PlaceHolder-Light {
    color: #000
}

@media screen and (max-width: 900px) {
    .SearchBarContainer {
        margin-top: 0px;
    }
    .SearchBar {
        padding: 3px;
        margin: 0 20px 0 20px;
    }
    .BackgroundPadding, .ArrowleftPadding, .ArrowrightPadding {
        width: 30px;
        height: 30px;
    }
    .ArrowleftPadding > svg, .ArrowrightPadding > svg {
        width: 14px;
    }
    .BackgroundPadding > svg {
        width: 20px;
    }
    .SearchButton, .SearchRipple {
        height: 30px;
    }
    .SearchButton > span {
        font-size: 13px;
    }

    .SearchButton > svg {
        width: 20px;
    }
    .SearchInput {
        font-size: 12px;
    }
}

@media screen and (max-width: 550px) {
    .SearchBarContainer {
        margin-top: 10px;
    }
    .SearchBar {
        padding: 2px 2px 2px 2px;
        margin: 0 20px 0 20px;
    }

    .ArrowleftPadding > svg, .ArrowrightPadding > svg {
        width: 12px;
    }
    .BackgroundPadding  {
        width: 16px;
        display: none;
    }

    .BackgroundPadding, .ArrowleftPadding, .ArrowrightPadding {
        width: 29px;
        height: 29px;
    }

    .SearchInput {
        font-size: 11px;
        width: 150px;
    }

    .SearchRipple {
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .SearchButton > span {
        font-size: 11px;
        display: none;
    }
    .SearchButton > svg {
        width: 16px;
    }
    .SearchButton, .SearchRipple {
        height: 29px;
        width: 29px
    }
}

@media screen and (max-width: 370px) {
    .SearchInput {
        width: 140px
    }
    .SearchBar {
        margin: 0 10px 0 10px
    }
}