.NetworkErrorDisplay {
    position: relative;
    width: 100%;
    flex-grow: 1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}
.NetworkEDInnerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.NetworkEDInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
.NetworkEDInfo > h1{
    font-family: 'Mochiy Pop One';
    font-style: normal;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 18px;
    color: #000000;
}
.NetworkEDInfo p {
    font-family: 'Mochiy Pop One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin: 0;
    color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 900px) {
    .NetworkEDInfo h1 {
        font-size: 16px;
    }
    .NetworkEDInfo p {
        font-size: 12px;
    }
}

@media screen  and (max-width: 550px) {
    .NetworkEDInnerContent svg {
        width: 220px;
    }
    .NetworkEDInfo h1 {
        font-size: 14px;
    }
    .NetworkEDInfo p {
        font-size: 10px;
    }
}